    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Julian Ng</h2>
                <p>
				Julian Ng has also been fascinated by the live production scene. He has gotten involved with drama productions, musical, and concerts since he was of the age of thirteen. Julian started on a small analogue system, 
				following that was a fully featured Allen&Heath forty-eight channel analogue mixer. The biggest show on this set up was a musical that invoked over twenty headset microphones. 
				</p>
                <p>
				It was from this musical where lightning started to grow on Julian. Starting out on the Philips Strand system, he started designing lighting for drama productions. Julian spent would spend numerous hours just focusing lights aiming for perfection.
				</p>
                
				<p>In 2012, Julian was introduced to a new venue. This venue feature an Allen&Heath iLive digital console and a Jands Vista lighting desk. At this venue, Julian has been equipped with skills to run small concert-style production. From front of house, to lighting, to behind the scenes on stage.  </p>
                
            </div>
        </div>
    </section>