    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Julian Ng</h1>
                        <p class="intro-text"> </p>
                        <a href="cv.ngjuliann.com" class="btn btn-circle page-scroll">
                            Blog	
                        </a>
						<a href="http://cv.ngjuliann.com" class="btn btn-circle page-scroll">
                            CV	
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
