    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    
                        <!-- <h1 class="brand-heading">Julian Ng</h1> -->
						
						
						<img src=/img/ENJI_A.png class="responsive">
                        <!-- <p class="intro-text"> </p>
                        <a href="https://blog.ngjuliann.com" class="btn btn-circleblog page-scroll">
                            Blog
                        </a>
						&emsp;&emsp;&emsp;&emsp;&emsp;
						<a href="http://ngjuliann.com" class="btn btn-circle page-scroll">
                            CV
                        </a> -->
                    </div>
                
            </div>
        </div>
    </header>
