    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                  <h2>Download Résumé</h2>
                    <p>You can download a PDF version of my résumé here.</p>
                    <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Download Page</a>
                    <iframe src="https://drive.google.com/file/d/0B1tq3NZ4LEvkd1lOOWxDVXluMFU/preview" width="640" height="480"></iframe>
              </div>
            </div>
        </div>
    </section>